.main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  width: 513px;
  height: 820px;
  padding: 24px;
  gap: 0px;
  border-radius: 20px;
  justify-content: space-between;
  opacity: 0px;
  border: 0.5px solid #8c8c8c;
}

.briefHeader {
  width: Fill (675px) px;
  height: Hug (92px) px;
  padding: 15px 60px 15px 60px;
  gap: 16px;
  border-radius: 18px;
  opacity: 0px;
  background-color: #0a08934d;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.briefHeader p {
  color: #ffffff;

  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.01em;
  text-align: center;
}

.briefHeader p > span {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0.01em;
  text-align: left;
}

.briefHeaderIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.briefHeaderTextContainer {
  display: flex;
  flex-direction: column;
}

.briefBody {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
