.main { 
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    background-color: #181614;
    width: 723px;
    height: 856px;
    padding: 24px;
    gap: 0px;
    border-radius: 20px;
    justify-content: space-between;
    opacity: 0px;
    border: 0.5px solid #8C8C8C

}

.chatBotHeader {
    width: Fill (675px)px;
    height: Hug (92px)px;
    padding: 24px 60px 24px 60px;
    gap: 16px;
    border-radius: 18px;
    opacity: 0px;
    background-color: #00320E80;
    margin-bottom: 15px;
}

.chatBotHeader p{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.01em;
    text-align: center;
}

.chatBotHeader p > span {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0.01em;
    text-align: left;
}

.chatBotBody {
    display: flex;
    flex-direction: column;
    padding: 10px;
}