.body {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    max-height: 100%;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    scrollbar-width: none;
    /* scrollbar-color: #f3f0dd #154734; */
    scrollbar-color: #a1a1a1 transparent !important;
    height: 100%;
}

.body::-webkit-scrollbar {
    width: 8px;
}

/* .body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} */

/* .body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
} */

.hr {
    /* border: 1px solid #4F4F4F */
    height: 0px;
    border: none;
    border-top: 1px solid #4F4F4F;

}

.briefDisclaimer {
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    width: 675px;
    height: 32px;
    padding: 0px 8px 0px 8px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;
    border: 1px solid #3D3D3D;
    background: #171717;
    margin: 10px 0px 20px;
    justify-content: center;
    align-items: center;
}

.briefDisclaimer span {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.0075em;
    text-align: left;
    color: #F1F1F1;
}

.dateSpan {
    display: flex;
    flex-direction: column;
    text-align: center;

    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    color: #737373;
}

.messageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    opacity: 0px;
}

.iconContainer {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    max-width: 45px;
    min-width: 41px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(180deg, #A35800 0%, #6A3C05 100%);
    position: relative;
    margin-right: 10px;
}

.iconRobot {
    position: absolute;
    left: -30px;
    top: 5px;
}

.messageForMe {
    width: fit-content;
    height: auto;
    padding: 8px 16px 8px 16px;
    gap: 16px;
    border-radius: 16px;
    opacity: 0px;
    background: linear-gradient(90.58deg, #121212 0.13%, #242323 76.43%);
    color: #909090;
    margin: 15px 0px;
    align-self: flex-start;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0075em;
    text-align: left;
}

.messageForMe li {
    margin-left: 5px;
}

.messageByMe {
    width: fit-content;
    height: auto;
    padding: 8px 16px 8px 16px;
    gap: 16px;
    border-radius: 16px;
    opacity: 0px;
    background: #0A089380;
    margin: 15px 0px;
    color: #EFEFEF;
    align-self: flex-end;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0075em;
    text-align: left;
}

.fileByMe {
    width: fit-content;
    padding: 8px 8px 8px 8px;
    gap: 16px;
    border-radius: 16px;
    opacity: 0px;
    background: #0A089380;
    margin: 15px 0px;
    color: #EFEFEF;
    align-self: flex-end;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0.0075em;
    text-align: left;

    width: 320px;
    height: 340px;
    overflow: none !important;
    scrollbar-width: none;
}

.file {
    border-radius: 12px;
    padding: 2px;
    border:none;
    overflow:none !important;
    margin:0;
    width: 305px;
    height: 320px;
    scrollbar-width: none;
}

.errorFile {
    width: fit-content;
    height: auto;
    padding: 8px 16px 8px 16px;
    gap: 16px;
    border-radius: 16px;
    opacity: 0px;
    margin: 15px 0px;
    color: #EFEFEF;
    align-self: flex-end;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0075em;
    text-align: left;
}